* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* utility */
.container {
    width: 100%;
    max-width: 992px;
    padding: 2rem;
    display: flex;
}

a {
    text-decoration: none;
}

/* header */

/* mobile */
.head {
    background-color: rgb(0, 131, 253);
    display: flex;
    justify-content: center;
}

.head .container {
    padding: 1rem 2rem;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.head i {
    font-size: 1.5rem;
    cursor: pointer;
}

.head ul {
    display: none;
}

/* tablet */
@media screen and (min-width: 768px) {}

/* desktop */
@media screen and (min-width: 992px) {

    .head ul {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .head li {
        list-style: none;
    }

    .head a {
        color: white;
    }

    .head i {
        display: none;
    }

    .head ul button {
        padding: 0.5rem;
        border: none;
        border-radius: 24px;
    }

    .head ul button a {
        color: black;
    }
}

/* main */

/* demo */

/* mobile */
.container {
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    width: 100%;
    background-color: rgb(179, 220, 255);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    border-radius: 12px;
    text-align: center;
}

.get-a-demo {
    padding-bottom: 0;
    text-align: left;
}

.card h3 {
    color: rgb(0, 131, 253);
}

.card button {
    padding: 0.5rem 3rem;
    width: fit-content;
    border: none;
    border-radius: 24px;
    background-color: rgb(0, 131, 253);
}

.card button a {
    color: white;
}

.card button i {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: white;
}

.card img {
    width: 100%;
}

.card i {
    font-size: 4rem;
    color: rgb(0, 131, 253);
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* tablet */
@media screen and (min-width: 768px) {
    #demo {
        .container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .card {
            width: calc((100% / 3) - (4rem / 3));
            height: auto;
            align-items: stretch;
        }

        .get-a-demo {
            width: calc((((100% / 3) - (4rem / 3)) * 2) + (4rem / 3));
        }

        .get-a-demo img {
            width: 50%;
            text-align: left;
        }
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    #demo {
        display: flex;
        justify-content: center;
    }
    
    .get-a-demo{
        flex-direction: row;
    }
    
    .container{
        justify-content: center;
    }
}